<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lord of the Pies</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/chat.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9b4edce180.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="hero is-small candyhead">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item pie-parent">
                <img id="pie" src="../../images/pietest.png" alt="pie logo" />
              </a>
              <p class="navbar-item" id="direction"> Click on the pie!</p>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                <p class="navbar-item is-underlined">
                  Menu
                </p>
                <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/">
                  Home
                </a>
                {{#if logged_in}}
                <a class="navbar-item" href="/profile"><span id="profile-name" >{{user_name}}</span>'s Profile
                  </a>
                  <button
                    class="no-button navbar-item"
                    id="logout"
                  >Logout</button>
                {{else}}
                  <a class="navbar-item" href="/login">
                    Login
                  </a>
                  <a class="navbar-item" href="/signup">
                    Signup
                  </a>
                  </div>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Lord of the Pies</p>
          <p class="subtitle">You shall not bake! (without recipies)</p>
        </div>
      </div>



    </section>
  
      {{!-- dynamic tags will look like this  --}}
      {{!-- <h2 id = "logout-message" style="color: black";>
          You are now logged out. To login again, click </h2> 
      <a href = "/login" id = "login-link" style="color: blue;">here.</a>--}}
      <main>{{{body}}}</main>
   
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Lord of the Pies</strong>
          is brought to you by a
          <a href="https://github.com/myrojoylee/Lord-of-the-Pies">wonderful
            group of devs
          </a>who totally understand how this all works.</p>
      </div>
    </footer>
  </body>

</html>

<script src="/js/speechRecognition.js"></script>
{{#if logged_in}}
{{> chat}}
  <script src="/js/logout.js"></script>
{{/if}}

