<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lord of the Pies</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9b4edce180.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="hero is-medium is-link">
      <div class="hero-head">
        <nav class="navbar is-link is-fixed-top is-active">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item pie-parent">
                <img id="pie" src="../../images/pietest.png" alt="pie logo" />
              </a>
              <p class="navbar-item" id="direction"> Click on the pie!</p>
              <span class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="/">
                  Home
                </a>
                {{#if logged_in}}
                  <button
                    class="no-button navbar-item is-active"
                    id="logout"
                  >Logout</button>
                {{else}}
                  <a class="navbar-item is-active" href="/login">
                    Login
                  </a>
                  <a class="navbar-item is-active" href="/signup">
                    Signup
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">Lord of the Pies</p>
          <p class="subtitle">You shall not bake! (without recipies)</p>
        </div>
      </div>
    </section>
    <section class="columns">
      <aside class="column is-one-third"></aside>
      <main class="column is-one-third">{{{body}}}</main>
      <aside class="column is-one-third"></aside>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Lord of the Pies</strong>
          is brought to you by a
          <a href="https://github.com/myrojoylee/Lord-of-the-Pies">wonderful
            group of devs
          </a>who totally understand how this all works.</p>
      </div>
    </footer>
  </body>

</html>

<script src="/js/speechRecognition.js"></script>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
{{/if}}