<!--Aub note: figure out how to show a please log in message instead of recipies -->

<h3 class="title has-text-centered mt-2"><u>
  There are
    {{recipes.length}}
    recipes in your feed!</u></h3>
{{user.id}}
<div id="recipes">
  {{#each recipes as |recipe|}}
   {{> recipe-card}}
  {{/each}}
</div>

<script src="/js/search.js"></script>


