<!--Aub note: figure out how to show a please log in message instead of recipies -->

<h3 class="title has-text-centered mt-4">
  There are
  {{recipes.length}}
  recipes in your feed!
</h3>
{{user.id}}
{{> search}}
<section class="message-parent">
  <div id="recipes" class="recipe-list">

  </div>
</section>

<script src="/js/search.js"></script>