<section class="loginbox">
  <input type="text" id="email-login">
  <input type="text" id="password-login">
</section>
<button class="homebtn" type="button" onclick="<!--Going to add homepage link here-->">Home</button>
<!--Added basic start code to make sure we get data-->