<section class="login-form">
  <form>
  <input type="text" id="email-login" placeholder="email">
  <input type="password" id="password-login" placeholder="password">
<a href="/profile"><button type="submit" class="probtn">Let's bake!</button></a>
</form>
</section>
<script src="/js/login.js"></script>
<!--Added basic start code to make sure we get data-->