<section class="loginbox">
  <input type="text" id="email-login">
  <input type="text" id="password-login">
</section>
<a href="/"><button class="homebtn" type="button">Home</button></a>
<a href="/signup"><button class="signupbtn" type="button">Sign up!</button></a>
<!--Added basic start code to make sure we get data-->