<section class="card-wrapper">
  <h3>Submit A New Recipe:</h3>

  <form class="new-recipe-form">
    <article class="">
      <label for="recipe-name">Recipe Name:</label>
      <input
        class="form-input"
        type="text"
        id="recipe-name"
        name="recipe-name"
      />
    </article>
    <article class="">
      <label for="recipe-detail">Details:</label>
      <textarea
        class="recipe-detail"
        id="recipe-detail"
        name="recipe-detail"
      ></textarea>
    </article>
    <article>
      <label for="recipe-filename">Upload a photo:</label>
      <input
        type="file"
        ,
        id="recipe-filename"
        ,
        name="recipe-filename"
        ,
        accept=".jpg, .jpeg, .png"
      />
    </article>
    <article>
      <button type="submit" class="submitRecipeBtn">Submit Post</button>
    </article>
  </form>
</section>

<script src="/js/new-recipe.js"></script>