{{!-- <aside class="column is-one-third"></aside>
<main class="column is-one-third"> --}}
<h1 class="title has-text-centered">Hey {{username}}!</h1>
<!--This code block will work when recipe data is defined? -->
<h3 class="title has-text-centered"><u>Your recipies here</u></h3>
{{#if recipes.length}}
<div class="recipe-list">
{{#each recipes as |recipe|}}
{{> recipe-card}}

{{/each}}
</div>
{{else}}
<p class="norec title has-text-centered">No recipes saved! Check out the site to find what you love!</p>
<!--There's already a home button in the nav, this seems redundant -->
{{!-- <a href="/"><button class="homebtn" type="button">Home</button></a> --}}
{{/if}}



<a href="/new-recipe" class="button is-fullwidth">Add New Recipe</a>




{{!-- </main>
<aside class="column is-one-third"></aside> --}}
