<h2 class="title has-text-centered">Hey {{username}}!</h2>
<h3 class="title has-text-centered"><u>Your recipies here</u></h3>
{{#if recipes.length}}
<div class="recipe-list">
{{#each recipes as |recipe|}}
{{> recipe-card}}

{{/each}}
</div>
{{else}}
<p class="norec title has-text-centered">No recipes saved! Check out the site to find what you love!</p>
{{/if}}


<div class="addRecBtn">
    <a href="/new-recipe" class="button fancy">Add New Recipie</a>
</div>

