<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lord of the Pies - User Profile</title>
  </head>
  <body>
    <header></header>
    <main>{{{main}}}</main>
    <p>{{name}} {{detail}}</p>
    <footer></footer>
  </body>
</html>
<!--Test page for user profile-->