<section class="login-signup">
  <form id="signup-form">
    <div class="field">
      <label class="label fancy">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input
          id="username-signup"
          class="input"
          type="text"
          placeholder="Enter your desired username here!"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label fancy">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input
          id="password-signup"
          class="input"
          type="password"
          placeholder="Enter your desired password here!"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label fancy">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          id="email-signup"
          class="input"
          type="email"
          placeholder="Email input"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
    </div>
    <div class="field is-grouped columns is-6">
      <div class="control column">
        <button
          class="button is-rounded is-fullwidth fancy"
          type="submit"
        >Submit</button>
      </div>
      <div class="control column is-6">
        <button class="button is-danger is-rounded is-fullwidth fancy">Cancel</button>
      </div>
    </div>
  </form>

  <div class="login">
    <a href="/login"><button class="button is-fullwidth is-rounded fancy">If you
        already have an account, click here!</button></a>
  </div>
</section>
<script src="/js/signup.js"></script>