input {
  display: block;
}

body {
  background-color: pink;
  min-height: 100vh;
}

main {
  min-height: 50vh;
}

.footer {
  margin-top: 0;
}

.takespaceL {
  min-width: 50vh;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
}

#pie {
  width: 500%;
}

.add-new-recipe {
  background-color: blueviolet;
  border-radius: 50%;
}
